*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(81, 123, 144);
}

.game_wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    opacity: 1;
}

.main_menu {
    width: 60%;
    height: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    transition: all 0.4s ease;
    z-index: 5;
    opacity: 1;
}

@media(max-width: 420px){
    .main_menu{
        width: 100%;
        height: 80%;
        margin: 40px auto;
        padding: 20px;
    }
}
.players {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin: 0 0 50px 0;
}

@media(max-width: 420px){
    .players {
        justify-content: center;
        margin: 0 0 40px 0;
        column-gap: 15px;
    }
    
}
.blocks_style{
    width: 175px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 188, 196);
    border-radius: 15px;
    cursor: pointer;
}

@media(max-width: 420px){
    .blocks_style{
        width: 100px;
    }
}

.game_cards {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin: 0 0 50px 0;
}

@media(max-width: 420px){
    .game_cards{
        column-gap: 15px;  
    }
}
.sum{
    width: 175px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 188, 196);
    border-radius: 15px;
}

@media(max-width: 420px){
    .sum{
        width: 90px;
        height: 100%;
    }
}


.btn{
    width: 125px;
    height: 125px;
    background-color: rgb(76, 76, 76);
    border-radius: 50%;
    cursor: pointer;
    flex: 0 0 auto;
}

.btn:hover{
    background-color: rgb(157, 149, 149);
    cursor: pointer;
}

.btn:active{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.playground_wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

@media(max-width: 420px){
    .playground_wrapper{
        flex-direction: column;
        justify-content: space-evenly;
         
    }
}



.playground{
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    row-gap: 1px;
    margin: 15px 30px 30px 30px;
    perspective: 1000px;
}

@media (max-width: 420px){
    .playground{
        width: 300px;
        height: 500px;
        flex: 0 1 auto;
        margin: 0;
        transition: all 0.7s ease;
        z-index: 3;
    }
 
}

.playground :last-child{
    margin: 0 0 0 0;
}

.obs{
    width: 80px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_currency{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    /* border: 1px solid red; */
    column-gap: 100px;
}

@media(max-width: 420px){
    .for_currency{
        width: 100%;
        height: 75px;
    }
}

.back_to{
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

.return_to_front{
    width: 160px;
    height: 75px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(186, 172, 93);
    margin: 10px 0;
    flex: 0 1 auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.return_to_front:hover{
    background: rgb(208, 180, 3);
    cursor: pointer;
    border: 3px solid rgb(33, 107, 112);
}

@media(max-width: 420px){
    .return_to_front{
        width: 120px;
        height: 65px;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
}
}
.current{
    width: 80px;
    height: 80px;
    background-color: #282649;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border: 5px solid yellowgreen;
    font-size: 45px;
    transition: all 0.6s ease;
}

@media (max-width: 420px){
    .current{
        width: 60px;
        height: 60px;
        font-size: 18px;
    }
}
/* small_menu */

.small_menu {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 350px;
    border-radius: 7px;
    background-color: rgb(29, 57, 88);
    margin: 0 auto;
    z-index: 100;
}
 
@media(max-width: 420px){
    .small_menu{
        width: 94%;
        height: 280px;
    }
}
.go_to{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: rgb(106, 50, 133);
    margin: 17px;
    border-radius: 15px;
}

@media(max-width: 420px){
    .go_to{
        padding: 40px; 
        margin: 17px;
    }
}
/* .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100px;
    background-color: rgb(106, 50, 133);
    margin: 15px;
} */


.card_body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / 2) - 4px);
    height: 24%;
    background-color: #282649;
    position: relative;
    margin: 0 0 3px 0;
    flex: 0 1 auto;
    border-radius: 8px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.dwa{
    width: calc((100% / 4) - 4px);
}

.card_body:active{
    transform: scale(0.94);
    transition: transform 0.8s;
}

.back-card, .front-card {
    display: block;
    padding: 7px;
    position: absolute;
    backface-visibility: hidden;
}

img{
    display: block;
    
}

.front-card{
    width: 100%;
    height: 100%;
}

.back-card{
 
    width: 80%;
    height: 80%;
    transform: rotateY(180deg);
}

@media (max-width: 420px){
    .back-card{
        width: 70%;
        height: 70%;
    }
}
.card_body{
    z-index: 5;
}
.card_body.flip{
    transform: rotateY(-180deg);
}


.hide{
    
    display: none;
}

.opac{
    transition: all 0.5s ease;
    animation: fadein 0.5s;
}

.opacityout{
    transition: all 0.5s ease;
    animation: fadeout 0.5s;
}

@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.inner_wrapper{
    width: 100%;
    height: 100%;
    display: none;
}

.show{
    display: flex;
}

.for_btn{
    border: 3px solid black;
    background-color: azure;
}

.inpt{
    display: none;
}

.cur_sum{
    background-color: rgb(36 124 126);
    border-color:#27b346;
    
}